a {
  text-decoration: none;
  color: black;
}

.item-info {
  display: inline-block;
  width: 50%;
}

#menu-item-container {
text-align: center;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vh auto;
}

.menu-img {
  width: 70%;
}

.add-btn {
  position: relative;
  background-color: #3699a1;
  font-size: 1em;
  padding: .5vw;
  color: papayawhip;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

.add-btn:hover {
  transform: scale(1.15);
  color: orange;
}
