.rest-wrap {
  position: relative;
  top: 0;
  /* height: 80%;
  width: 100%; */
}

.rest-item {
  position: relative;
}

.restaurant-backing {
  position: absolute;
  top: 0;
  left: 5vw;
  height: 100%;
  width: 90vw;
  background-color: #192628;
  opacity: .3;
  z-index: -10;
}

.rest-h1 {
  position: relative;
  left: 30vw;
}

.rest-h6 {
  position: relative;
  left: 40vw;
}
