#map-container {
z-index: 1;
}

#bird-container {
  position: relative;
  top: -20vh;
  width:30vh;
  animation: fly 6s infinite;
}

@keyframes fly {
  40% {
    transform: translate(60vw, -40vh);
  }
  50% {
    transform: translate(60vw, -40vh) rotate(180deg);
  }
  90% {
    transform: translate(0, 0) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

#ptero {
  width:100%;
  z-index: 5;
  position: absolute;
}

#chicken {
  width: 40%;
  z-index:10;
  position: absolute;
  transform: translate(25%,55%);
}
