#map-container {
z-index: 1;
}

#bird-container {
  position: relative;
  top: -20vh;
  width:30vh;
  animation: fly 5s infinite;
}

@keyframes fly {
  50% {
    transform: translate(50vw, -50vh);
  }
}

#ptero {
  width:100%;
  z-index: 5;
  position: absolute;
}

#chicken {
  width: 40%;
  z-index:10;
  position: absolute;
  transform: translate(25%,55%);
}
